/* Responcive Part Mobile */
@media screen and (max-width: 576px) {
    .display-none{
        display: none;
    }
    .logo img{
        height: 90px;
        width: 110px;
    }
    .banner{
        flex-direction: column-reverse;
    }
    .banner-image img, .banner-content{
        width: 100%;
    }
    .banner-content{
        padding: 10px;
    }
    .our-plant{
        margin: 5px auto;
        padding: 10px;
        text-align: center;
        justify-content: center;
    }
    .card-section{
    
    grid-template-columns: repeat(2, 2fr);
    

    }
    .card{
    width: calc(100% - 20px);
    height: auto;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
    }
    .baged{
        display: none;
        margin: 0;
        position: relative;
    }
    .plant-lover{
        display: flex;
        flex-direction: column;
        margin-top: 20px;
        align-items: normal;
    }
    .plant-img{
        width: 100%;
        
        margin: 10px;
        
        justify-content: center;

    }
    .fixed-logo img{
        margin: 0;
    }
    .another{
        height:450px;
        width: 100%;
    }
    .plant-text h3{
        font-size: 2rem;
    }
    .plant-text{
        padding: 10px;
    }
    .plant-text ul li p{
    font-size: 1.5rem;
    }
    .lets-deal{
        margin-top: 70px;
    }
    .lets-deal p{
    font-size: 1.5rem;
    }
    .chalanging-section{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: flex-end;
    gap: 20px;
    }
    .join-bench{
        margin-top: 100px;
    }
    
    .footer-responcive{
        grid-template-columns: repeat(1, 1fr);
    }
    .social-eycon{
        display: grid;
        grid-template-columns: repeat(4, 4fr);
        justify-content: left;
    }
    .five{
        margin-left: 2px;
    }
}