body{
   max-width: 1240px;
   background-color: #F5F8FF;
   margin: 0 auto;
    
}

/* Header Section  */
header{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* margin: 30px 200px; */

}
nav ul li{
  list-style: none;
  margin-right: 10px;
}
nav ul li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  
}
nav ul{
    display: flex;
}
.menu{
    display: flex;
}
nav{
    
    align-items: center;
    justify-content: space-between;
    
}
.cart-eycon{
    font-size: 30px;
    color: black;
}
.main-menu{
    
}
.logo{
    height: auto;
    width: auto;
}


/* Banner Styles */
.banner{
    /* margin: 50px 200px; */
    display: flex;
}
.banner-content h2{
    font-size: 3rem;
    margin-top: 110px;
}
.banner-content{
    justify-content: end;
}



/* Plant and Card Sections */
.our-plant h2{
    font-size: 2.5rem;
}
.our-plant{
    text-align: center;
    margin: 50px 250px;
}
.card-section{
    /* margin: 50px 200px; */
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    width: calc(100%);

    
}
.extra{
    margin-top: 300px;
}
.card img{
    width: 100%;
    height: 325px;
}
.card button{
    height: 35px;
    width:100% ;
    color: white;
    background: #E95A08;
    border: none;
    align-items: center;
    padding: 5px;
}
.card{
    width: 300px;
    height: ;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}



/* Plant Lover Sections */
.plant-lover{
    display: flex;
    margin-top: 100px;
    align-items: center;
}
/* .plant-img img{
    width: 500px;
    height: 590px;
    z-index: -1;
} */
 .baged{
    height: 350px;
    width: 350px;
    margin-bottom: ;
    z-index: +2;
    position: absolute;
    margin-left: 280px;
    margin-top: -200px;
 }
 .another{
    z-index: +1;
    height: 600px;
    width: 500px;
 }
.plant-img{
   ;

}
.plant-text{
    padding: 60px;
    
}
.plant-text h3{
    font-size: 4rem;
}
.plant-text ul li p{
    font-size: 1.8rem;
}
.fixed-logo img{
    height: 400px;
    width: 400px;
    /* margin-left: 380px;
    margin-bottom: -300px;
    z-index: +1; */
    margin-bottom: -150px;
    z-index: +2;
}

/* Leats Deals Sections */



/* Shaired Styles */
.orange-color{
    color: #E95A08;
}