body{
   max-width: 1240px;
   background-color: #F5F8FF;
   margin: 0 auto;
    
}

/* Header Section  */
header{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    /* margin: 30px 200px; */

}
nav ul li{
  list-style: none;
  margin-right: 10px;
}
nav ul li a{
  text-decoration: none;
  font-size: 1.2rem;
  color: black;
  
}
nav ul{
    display: flex;
}
.menu{
    display: flex;
}
nav{
    
    align-items: center;
    justify-content: space-between;
    
}
.cart-eycon{
    font-size: 30px;
    color: black;
}
.main-menu{
    
}
.logo{
    height: auto;
    width: auto;
}


/* Banner Styles */
.banner{
    /* margin: 50px 200px; */
    display: flex;
}
.banner-content h2{
    font-size: 3rem;
    margin-top: 110px;
}
.banner-content{
    justify-content: end;
}



/* Plant and Card Sections */
.our-plant h2{
    font-size: 2.5rem;
}
.our-plant{
    text-align: center;
    margin: 50px 250px;
}
.card-section{
    /* margin: 50px 200px; */
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    width: calc(100%);

    
}
.extra{
    margin-top: 300px;
}
.card img{
    width: 100%;
    height: 325px;
}
.card button{
    height: 35px;
    width:100% ;
    color: white;
    background: #E95A08;
    border: none;
    align-items: center;
    padding: 5px;
}
.card{
    width: 300px;
    height: ;
    justify-content: center;
    text-align: center;
    margin-top: 20px;
    gap: 20px;
}



/* Plant Lover Sections */
.plant-lover{
    display: flex;
    margin-top: 100px;
    align-items: center;
}
/* .plant-img img{
    width: 500px;
    height: 590px;
    z-index: -1;
} */
 .baged{
    height: 350px;
    width: 350px;
    margin-bottom: ;
    z-index: +2;
    position: absolute;
    margin-left: 280px;
    margin-top: -200px;
 }
 .another{
    z-index: +1;
    height: 600px;
    width: 500px;
 }
.plant-img{
   ;

}
.plant-text{
    padding: 60px;
    
}
.plant-text h3{
    font-size: 4rem;
}
.plant-text ul li p{
    font-size: 1.8rem;
}
.fixed-logo img{
    height: 400px;
    width: 400px;
    /* margin-left: 380px;
    margin-bottom: -300px;
    z-index: +1; */
    margin-bottom: -150px;
    z-index: +2;
}

/* Leats Deals Sections */
.lets-deal{
    text-align: center;
}
.lets-deal h2{
    font-size: 3rem;
}
.lets-deal p{
    font-size: 1.8rem;
}


.one{
    background: url(../images/deal-bloom.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 430px;
    /* text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px; */
    border: 1px solid black;
    background-size: cover;
    margin-bottom: 20px;
    border-radius: 20px;
    opacity: 25px;
    filter: brightness(80%);
}
.one-text{
    text-align: center;
    padding-top: 100px;
    color: white;
}
.two{
    background: url(../images/deal-ana.png);
    background-repeat: no-repeat;
    height: 350px;
    width: 430px;
    /* text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px; */
    border: 1px solid black;
    background-size: cover;
    border-radius: 20px;
    filter: brightness(80%);
}
.clang2{
    background: url(../images/deal-zabo.png);
    background-repeat: no-repeat;
    height: 720px;
    width: 100%;
    /* text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 100px; */
    border: 1px solid black;
    background-size: cover;
    border-radius: 20px;
    filter: brightness(80%);
}
.three{
    text-align: center;
    justify-content: center;
    align-items: center;
    padding-top: 250px;
}
.chalanging-section{
    display: grid;
    grid-template-columns: 430px 1fr;
    justify-content: space-between;
    gap: 20px;
}

.clang1{
    
    margin-bottom: 20px;
}
.one-text h3{
    
}
.clng-text{
    font-size: 2.6rem;
    color: white;
}
.clng-button{
    border: none;
    text-decoration: underline;
    background: transparent;
    color: white;
    font-size: 1.5rem;
}

/* Join Bence Sections */
.join-bench{
    height: 500px;
    
    
    background: url(../images/news-letter-bg.png);
    background-size: cover;
    margin-top: 100px;
    position: relative;
    
    margin: 0 auto;
    max-width: 100vw !important;
    
    
}
.join-branch-text{
    justify-content: center;
    text-align: center;
    align-items: center;
    padding-top: 150px;
}
.join-branch-text input{
    height: 30px;
    width: 50%;
    padding: 10px;
    
    
}
.input-email{
    width: 170px;
}
.submite-btn{
    height: 50px;
    border: none;
    color: white;
    background-color: #E95A08;
    width: 160px;
    font-size: .8rem;
    /* padding: 5px; */
}
.join-branch-text h3{
    font-size: 3rem;
    color: white;
}

/* Footer Sections */
footer{
    display: grid;
    grid-template-columns: repeat(4, 4fr);
    margin-top: 50px;
    
}
.link1 a p{
    margin-bottom: 30px;
    font-size: 1rem;
    color: black;
    text-decoration: ;
}
.link1 a{
    text-decoration: none;
}
.link2 a p{
    color: black;
    text-decoration: ;
    font-size: 1rem;
    margin-bottom: 30px;

}
.link2 a{
    text-decoration: none;
}
.five{
    margin-left: 10px;
}
.social-eycon{
   display: grid;
   grid-template-columns: repeat(4, 4fr);
   justify-content: right;
}
/* Shaired Styles */
.orange-color{
    color: #E95A08;
}